<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
     
<mapper namespace="com.shinsegae.smon.privacy.PersonalInfoDestroyManageMapper">
	<resultMap id="DES_TABLE_MAP" type="java.util.HashMap">
		<result column="IF_YMD"           	property="IF_YMD"			javaType="string"  jdbcType="VARCHAR" /> 
        <result column="DB_NAME"           	property="DB_NAME"			javaType="string"  jdbcType="VARCHAR" /> 
        <result column="OWNER"     			property="OWNER"			javaType="string"  jdbcType="VARCHAR" /> 
        <result column="TABLE_NAME"     	property="TABLE_NAME"		javaType="string"  jdbcType="VARCHAR" /> 
        <result column="SQL"     			property="SQL"				javaType="string"  jdbcType="VARCHAR" /> 
        <result column="INFO"	     		property="INFO"				javaType="string"  jdbcType="VARCHAR" /> 
        <result column="CNT"    			property="CNT"				javaType="Integer" jdbcType="NUMERIC" /> 
    </resultMap>
 
    <select id="selectDestroyTableList" resultMap="DES_TABLE_MAP" parameterType="HashMap">
    	SELECT DB_NAME,
    		   OWNER,
    		   TABLE_NAME,
    		   SQL,
    		   INFO,
    		   COUNT(*) OVER() AS TOTCNT,
    		   DSTRCTN_NMBR ,
    		   DSTRCTN_CYCL ,
    		   DSTRCTN_NMBR || ' ' || (SELECT ETC_NAME
						                 FROM TCKETC B
						                WHERE ETC_GUBN = '008'
						                  AND B.ETC_CODE = A.DSTRCTN_CYCL) AS DSTRCTN_STNDRD
    	  FROM PRSNL_INFO_CHCK A
         WHERE 1=1
				<if test="dbName != '' and dbName != null">
			   		AND DB_NAME = #{dbName}
			   	</if>
				<if test="owner != '' and owner != null">
					AND OWNER = #{owner}
				</if>
				<if test="tableName != '' and tableName != null">
					AND TABLE_NAME = #{tableName}   
				</if>
				ORDER BY DB_NAME, OWNER, TABLE_NAME
				
    </select>
    
    <select id="selectComboDBName" resultType="HashMap">
    	SELECT SYSTEM_NAME AS DB_KOR_NAME,
			   DB_SID AS DB_NAME
		FROM
			TCKSYS
    </select>

    <select id="selectComboOwner" parameterType="HashMap" resultType="HashMap">
    	SELECT
			DISTINCT DBU.USERNAME AS OWNER
		FROM
			TCKDBU DBU
		WHERE
			1=1
			<if test="dbName != '' and dbName != null">
				AND DBU.DB_SID = #{dbName}
			</if>
    </select>
    
    <select id="selectComboTbname" parameterType="HashMap" resultType="HashMap">
    	SELECT
			DISTINCT OBJECT_NAME AS TABLE_NAME
		FROM
			TCKTBL
		WHERE
			1=1
			AND OBJECT_TYPE = 'TABLE'
			<if test="dbName != '' and dbName != null">
				AND DB_SID = (SELECT DB_SID FROM TCKSYS WHERE SYSTEM_NAME = #{dbName}) 
			</if>
			<if test="owner != '' and owner != null">
				AND OWNER = #{owner}
			</if>
    </select>
    
    <insert id="insertRowAddedInfo" parameterType="HashMap">
    	INSERT INTO PRSNL_INFO_CHCK VALUES(
    		#{dbName},
    		#{owner},
    		#{tableName},
    		#{sqlData},
    		#{info}
    	)
    </insert>
    
    <update id="updateRowAddedInfo" parameterType="HashMap">
    	MERGE INTO PRSNL_INFO_CHCK PIC
    	USING DUAL
    	ON (
    		PIC.DB_NAME = #{dbName}
    		AND PIC.OWNER = #{owner}
    		AND PIC.TABLE_NAME = #{tableName}
    	)
    	WHEN MATCHED THEN
    		UPDATE SET SQL = #{sqlData},
    		           DSTRCTN_CYCL = #{stndrdCycle},
    		           DSTRCTN_NMBR = #{stndrdNmbr},
    				   INFO = #{info}
    	WHEN NOT MATCHED THEN
    		INSERT VALUES (
    			#{dbName},
    			#{owner},
    			#{tableName},
    			#{sqlData},
    			#{info},
    			#{stndrdCycle},
    			#{stndrdNmbr}
    		)
    </update>
    
    <delete id="deleteRowAddedInfo" parameterType="HashMap">
    	DELETE FROM  
    		PRSNL_INFO_CHCK PIC
    	WHERE 1=1
    	AND PIC.DB_NAME = #{dbName}
    	AND PIC.OWNER = #{owner}
    	AND PIC.TABLE_NAME = #{tableName}
    	AND PIC.SQL = #{sqlData}
    </delete>
    
</mapper> 
