<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shinsegae.smon.privacy.PersonalInfoDictionaryMapper">
	<resultMap id="DIC_TABLE_MAP" type="java.util.HashMap">
        <result column="DB_SID"           	property="DB_SID"			javaType="string"  jdbcType="VARCHAR" /> 
        <result column="OWNER"     			property="OWNER"			javaType="string"  jdbcType="VARCHAR" /> 
        <result column="OBJECT_TYPE"     	property="OBJECT_TYPE"		javaType="string"  jdbcType="VARCHAR" /> 
        <result column="OBJECT_NAME"     	property="OBJECT_NAME"		javaType="string"  jdbcType="VARCHAR" /> 
        <result column="COMMENTS"     		property="COMMENTS"			javaType="string"  jdbcType="VARCHAR" /> 
        <result column="STATUS"     		property="STATUS"			javaType="string"  jdbcType="VARCHAR" /> 
        <result column="PERSONALINFO_YN"    property="PERSONALINFO_YN"	javaType="string"  jdbcType="VARCHAR" /> 
        <result column="TOTCNT"    			property="TOTCNT"			javaType="string"  jdbcType="VARCHAR" /> 
    </resultMap>
    
    <select id="selectDictionaryTableList" resultMap="DIC_TABLE_MAP" parameterType="HashMap">
    	SELECT 	T.*
    			 
    	FROM (
		    SELECT AA.*
		    	, (@ROWNUM := @ROWNUM + 1) AS RNUM 
		    	, (@ROWNUM := @ROWNUM + 1) AS TOTCNT 
		    FROM (
				SELECT TA.*
				FROM (SELECT @ROWNUM := 0) AS R
				, (
				    SELECT
				        TBL.*,        
				        CASE
				            WHEN (
				                SELECT COUNT(1)
				                FROM TCKCOL_ADD COL
				                WHERE 1=1
				                    AND TBL.DB_SID = COL.DB_SID
				                    AND TBL.OWNER = COL.OWNER
				                    AND TBL.OBJECT_NAME = COL.TABLE_NAME
				                    AND COL.PERSONALINFO_YN IS NULL
				            ) > 0 THEN ''
				            WHEN (
				                SELECT COUNT(1)
				                FROM TCKCOL_ADD COL
				                WHERE 1=1
				                    AND TBL.DB_SID = COL.DB_SID
				                    AND TBL.OWNER = COL.OWNER
				                    AND TBL.OBJECT_NAME = COL.TABLE_NAME
				                    AND COL.PERSONALINFO_YN = 'Y'
				            ) > 0 THEN 'Y'
				            ELSE 'N'
				        END AS PERSONALINFO_FLAG
				    FROM
				        TCKTBL TBL
				) TA
				WHERE 1=1
				<if test="dbName != '' and dbName != null">
			   		AND TA.DB_SID = #{dbName}
			   	</if>
				<if test="owner != '' and owner != null">
					AND TA.OWNER = #{owner}
				</if>
				<if test="type != '' and type != null">
					AND TA.OBJECT_TYPE = #{type}
				</if>
				<if test="personalInfoFlag != '' and personalInfoFlag != null">
					<choose>
						<when test="personalInfoFlag eq 'NN'.toString()">
							AND TA.PERSONALINFO_FLAG = ''
						</when>
						<otherwise>
							AND TA.PERSONALINFO_FLAG = #{personalInfoFlag}
						</otherwise>
					</choose>
				</if>
				<if test="status != '' and status != null">
					AND TA.STATUS = #{status}
				</if>
				<if test="objectName != '' and objectName != null">
					AND TA.OBJECT_NAME LIKE '%' || #{objectName} || '%'
				</if>
			   	ORDER BY 1, 2, 3
			) AA
		) T
		WHERE 1=1
			AND RNUM BETWEEN #{start} AND #{end}
    </select>
    
    
    <resultMap id="DIC_COL_MAP" type="java.util.HashMap">
        <result column="DB_SID"           	property="DB_SID"			javaType="string"  jdbcType="VARCHAR" /> 
        <result column="OWNER"     			property="OWNER"			javaType="string"  jdbcType="VARCHAR" /> 
        <result column="TABLE_NAME"     	property="TABLE_NAME"		javaType="string"  jdbcType="VARCHAR" /> 
        <result column="COLUMN_NAME"     	property="COLUMN_NAME"		javaType="string"  jdbcType="VARCHAR" /> 
        <result column="DATA_TYPE"     		property="DATA_TYPE"		javaType="string"  jdbcType="VARCHAR" /> 
        <result column="DATA_LENGTH"     	property="DATA_LENGTH"		javaType="string"  jdbcType="VARCHAR" /> 
        <result column="NULLABLE"    		property="NULLABLE"			javaType="string"  jdbcType="VARCHAR" /> 
        <result column="COMMENTS"    		property="COMMENTS"			javaType="string"  jdbcType="VARCHAR" /> 
        <result column="PERSONALINFO_YN"    property="PERSONALINFO_YN"	javaType="string"  jdbcType="VARCHAR" /> 
    </resultMap>
    <select id="selectDictionaryColList" resultMap="DIC_COL_MAP" parameterType="HashMap">
    	SELECT 	TA.*
    			, TB.PERSONALINFO_YN
		FROM 	TCKCOL TA
		LEFT OUTER JOIN TCKCOL_ADD TB
		ON 	TA.DB_SID = TB.DB_SID
		AND TA.OWNER = TB.OWNER
		AND TA.TABLE_NAME = TB.TABLE_NAME
		AND TA.COLUMN_NAME = TB.COLUMN_NAME
		WHERE 1=1
		    AND TA.DB_SID = #{dbName}
		    AND TA.OWNER = #{owner}
		    AND TA.TABLE_NAME = #{tableName}
        ORDER BY TA.COLUMN_ID
    </select>
    
    <select id="selectComboDBName" resultType="HashMap">
    	SELECT
			DISTINCT DB_SID
		FROM
			TCKDBU
    </select>

    <select id="selectComboOwner" parameterType="HashMap" resultType="HashMap">
    	SELECT
			DISTINCT USERNAME
		FROM
			TCKDBU
		WHERE
			1=1
			<if test="dbName != '' and dbName != null">
			AND DB_SID = #{dbName}
			</if>
    </select>
    
    <update id="updateColumnAddedInfo" parameterType="HashMap">
    	MERGE INTO TCKCOL_ADD TA
    	USING DUAL
    	ON (
    		TA.DB_SID = #{DB_SID}
    		AND TA.OWNER = #{OWNER}
    		AND TA.TABLE_NAME = #{TABLE_NAME}
    		AND TA.COLUMN_NAME = #{COLUMN_NAME}
    	)
    	WHEN MATCHED THEN
    		UPDATE SET PERSONALINFO_YN = #{PERSONALINFO_YN}
    	WHEN NOT MATCHED THEN
    		INSERT VALUES (
    			#{DB_SID}
    			, #{OWNER}
    			, #{TABLE_NAME}
    			, #{COLUMN_NAME}
    			, #{PERSONALINFO_YN}
    		)
    </update>
    
    <insert id="insertPersonalInfoException" parameterType="HashMap">
    	INSERT INTO TCKPER_EX VALUES(
    		#{dbName},
    		#{owner},
    		#{tableName},
    		#{columnName},
    		#{tableComment},
    		#{columnComment},
    		SYSDATE
    	)
    </insert>
    
    <select id="selectPersonalInfoProgressGraphList" resultType="HashMap" parameterType="HashMap">
	    SELECT
			A.CHECK_YMD,
			A.CHECK_GUBN,
			A.DB_NAME,
			COUNT(A.CHECK_GUBN) AS CNT
		FROM
			TCKPER A
		WHERE
			NOT EXISTS(
				SELECT 1
				FROM TCKPER_EX B
				WHERE A.DB_NAME = B.DB_NAME
				AND A.OWNER = B.OWNER
				AND A.TABLE_NAME = B.TABLE_NAME
				AND A.COLUMN_NAME = B.COLUMN_NAME
				AND A.CHECK_YMD = DATE_FORMAT(B.ENT_DATE, '%Y%m%d')
			)
		  		AND CHECK_YMD BETWEEN #{checkStartDate} AND #{checkEndDate}
		  	GROUP BY A.CHECK_YMD, A.CHECK_GUBN, A.DB_NAME
		  	ORDER BY
		  		A.CHECK_YMD ASC
    </select>
    
    <select id="selectPersonalInfoProgressGraphList2" resultType="HashMap" parameterType="HashMap">
		SELECT
			SUBSTR(CHECK_YMD, 0, 6) AS CHECK_YM,
			DB_NAME                 AS DB_NAME,
			CHECK_GUBN              AS CHECK_GUBN,
			COUNT(1)                AS CNT
		FROM (
			SELECT
				*
			FROM
				TCKPER
			WHERE
				SUBSTR(CHECK_YMD, 0, 6) BETWEEN  DATE_FORMAT(ADD_MONTHS(TO_DATE(#{checkEndDate}, 'YYYYMM'), -12), '%Y%m') AND #{checkEndDate}
				AND (
					(CHECK_YMD = DATE_FORMAT(LAST_DAY(TO_DATE(SUBSTR(CHECK_YMD, 0, 6), 'YYYYMM')), '%Y%m%d'))
					OR
					(CHECK_YMD = DATE_FORMAT(NOW()-1, '%Y%m%d')
				)
			)
		)
		GROUP BY
			SUBSTR(CHECK_YMD, 0, 6), DB_NAME, CHECK_GUBN
    </select>
    
    <select id="selectPersonalInfoDetailList" resultType="HashMap" parameterType="HashMap">
		SELECT
			*
		FROM
			TCKPER A
		WHERE
			NOT EXISTS(
				SELECT 1
				FROM TCKPER_EX B
				WHERE A.DB_NAME = B.DB_NAME
				AND A.OWNER = B.OWNER
				AND A.TABLE_NAME = B.TABLE_NAME
				AND A.COLUMN_NAME = B.COLUMN_NAME
				AND A.CHECK_YMD = DATE_FORMAT(B.ENT_DATE, '%Y%m%d')
			)
		<choose>
			<when test="periodType = 'day'">
				AND A.CHECK_YMD BETWEEN #{startCheckDate} AND #{endCheckDate}
			</when>
			<when test="periodType = 'month'">
				AND DATE_FORMAT(CONVERT(CHAR(8), A.CHECK_YMD, 112), '%Y%m') BETWEEN #{startCheckDate} AND #{endCheckDate}
			</when>
		</choose>
		<if test="dbName != '' and dbName != null">
			AND A.DB_NAME = #{dbName}
		</if>
		AND A.CHECK_GUBN = #{infoType}
	   	ORDER BY
	   		A.CHECK_YMD DESC
    </select>
    
</mapper> 
