<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.shinsegae.smon.privacy.PersonalPolicyMapper">
    
    <resultMap id="POL_TABLE_MAP" type="java.util.HashMap">
        <result column="DB_SID"           	property="DB_SID"			javaType="string"  jdbcType="VARCHAR" /> 
        <result column="OWNER"     			property="OWNER"			javaType="string"  jdbcType="VARCHAR" /> 
        <result column="TABLE_NAME"     	property="TABLE_NAME"		javaType="string"  jdbcType="VARCHAR" /> 
        <result column="SQL"     			property="SQL"				javaType="string"  jdbcType="VARCHAR" /> 
        <result column="INFO"     			property="INFO"				javaType="string"  jdbcType="VARCHAR" /> 
        <result column="TOTCNT"    			property="TOTCNT"			javaType="string"  jdbcType="VARCHAR" /> 
    </resultMap>
    
    <select id="selectPolicyTableList" resultMap="POL_TABLE_MAP" parameterType="HashMap">
        SELECT A.DB_SID         
	       , A.OWNER        
	       , A.TABLE_NAME       
	       , B.SQL           
	       , B.INFO             
	       , @ROWNUM := @ROWNUM + 1 AS TOTCNT
		FROM (SELECT @ROWNUM := 0) AS R
		   , (SELECT DISTINCT
		               DB_SID AS DB_SID,
		               OWNER,
		               TABLE_NAME 
		       FROM TCKCOL_ADD A
		      WHERE PERSONALINFO_YN = 'Y'
		         <if test="dbName != '' and dbName != null">
			   		AND DB_SID = #{dbName}
			   	 </if>
		         <if test="owner != '' and owner != null">
					AND OWNER = #{owner}
				 </if>
				 <if test="objectName != '' and objectName != null">
					AND TABLE_NAME LIKE '%' || #{objectName} || '%'
				 </if>
		            AND NOT EXISTS (SELECT ''
		                              FROM TCKCMP_EXCEPTION B
		                             WHERE A.DB_SID = B.DB_NAME
		                               AND A.OWNER = B.OWNER
		                               AND A.TABLE_NAME = B.TABLE_NAME)) A
		 LEFT OUTER JOIN TCKCMP B
		  ON A.DB_SID = B.DB_NAME
		 AND A.OWNER = B.OWNER
		 AND A.TABLE_NAME = B.TABLE_NAME
		 AND B.IF_YMD = DATE_FORMAT(NOW(), '%Y%m%d') 
		   
    </select>
       
    <select id="selectComboDBName" resultType="HashMap">
    	SELECT
			DISTINCT DB_SID
		FROM
			TCKDBU
    </select>

    <select id="selectComboOwner" parameterType="HashMap" resultType="HashMap">
    	SELECT
			DISTINCT USERNAME
		FROM
			TCKDBU
		WHERE
			1=1
			<if test="dbName != '' and dbName != null">
			AND DB_SID = #{dbName}
			</if>
    </select>
</mapper> 
