.search-wrapper {
	border-bottom: 1px solid #ddd;
}

.ui-state-highlight {
}

.ui-widget-content.jqgrow.ui-row-ltr > td{
	padding-top: 4px;
}

.inline_input_checkbox {
}

.inline_input_text {
	margin: -4px 0 0 0 !important;
	width: 100%;
}

.search-condition-box {
	border-top: 1px solid #ddd;
	padding-top: 25px;
}

.btn-box {
	padding: 10px 30px 20px 30px;
}
.btn-box > a {
	margin-left: 10px;
}

.search-condition-line {
	padding-bottom: 5px;
}

.search-condition-item {
	border-right: 1px solid #BAA5A5;
}

.two-line-label {
	padding-top: 0px !important;
}