.search-wrapper {
	border-bottom: 1px solid #ddd;
}

.ui-jqgrid .ui-pg-input {
	height: 15px;
}

.btn-custom-save {
	color: #fff;
	background-color: #3e3f3a;
	border-color: #3e3f3a;
}

.btn-custom-save:hover {
	color: #fff;
	background-color: #82827f;
	border-color: #82827f;
}

.search-condition-table {
	padding: 0 0 10px 0;
}

.search-condition-column {
	padding: 0 0 24px 0;
}