.search-wrapper {
	border-bottom: 1px solid #ddd;
}

.ui-state-highlight {
}

.ui-widget-content.jqgrow.ui-row-ltr > td{
	padding-top: 4px;
}

.inline_input_checkbox {
}

.inline_input_text {
	margin: -4px 0 0 0 !important;
	width: 100%;
}