<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.shinsegae.smon.login.LoginMapper">

	<resultMap id="userMap" type="java.util.LinkedHashMap">
        <result column="MGR_ID"        property="MGR_ID"        javaType="string"  jdbcType="VARCHAR" /> 
        <result column="MGR_NAME"      property="MGR_NAME"      javaType="string"  jdbcType="VARCHAR" /> 
        <result column="MGR_SYS"       property="MGR_SYS"     	javaType="string"  jdbcType="VARCHAR" /> 
        <result column="MGR_GRADE"     property="MGR_GRADE"     javaType="string"  jdbcType="VARCHAR" /> 
    </resultMap>
 
	
	<!-- 사용자 사번으로 조회 -->
	<select id="searchUser" resultMap="userMap" parameterType="hashmap">
		SELECT * FROM MGR
		WHERE MGR_ID = #{mgr_id}
	</select>
	
 </mapper>

    