<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.shinsegae.smon.database.longquery.LongOpQueryDbMonitoringMapper">
	<resultMap id="longMap" type="java.util.LinkedHashMap">
        <result column="OP_ELAPSED_TIME"           property="OP_ELAPSED_TIME"             javaType="string"  jdbcType="VARCHAR" />
        <result column="AVG_SQL_ELAPSED_SECONDS"   property="AVG_SQL_ELAPSED_SECONDS"     javaType="string"  jdbcType="VARCHAR" />
        <result column="USERNAME"                  property="USERNAME"                    javaType="string"  jdbcType="VARCHAR" />
        <result column="OPNAME"                    property="OPNAME"                      javaType="string"  jdbcType="VARCHAR" />
        <result column="TARGET"                    property="TARGET"                      javaType="string"  jdbcType="VARCHAR" />
        <result column="UNITS"                     property="UNITS"                       javaType="string"  jdbcType="VARCHAR" />
        <result column="MESSAGE"                   property="MESSAGE"                     javaType="string"  jdbcType="VARCHAR" />
        <result column="SQL_ADDRESS"               property="SQL_ADDRESS"                 javaType="string"  jdbcType="VARCHAR" />
        <result column="SQL_HASH_VALUE"            property="SQL_HASH_VALUE"              javaType="string"  jdbcType="VARCHAR" />
        <result column="CHECK_YMD"                 property="CHECK_YMD"                   javaType="string"  jdbcType="VARCHAR" />
        <result column="CHECK_SEQ"                 property="CHECK_SEQ"                   javaType="string"  jdbcType="VARCHAR" />
        <result column="START_TIME"                property="START_TIME"                  javaType="string"  jdbcType="VARCHAR" />
        <result column="END_TIME"                  property="END_TIME"                    javaType="string"  jdbcType="VARCHAR" />
    </resultMap>


    <select id="selectLongOpQueryList" resultMap="longMap" parameterType="String">
    <![CDATA[
     SELECT OP_ELAPSED_TIME,
            AVG_SQL_ELAPSED_SECONDS,
            USERNAME,
            OPNAME,
            TARGET,
            UNITS,
            MESSAGE,
            SQL_ADDRESS,
            SQL_HASH_VALUE,
            CHECK_YMD,
            CHECK_SEQ + ROWNO AS CHECK_SEQ,
            START_TIME,
            END_TIME
       FROM (
             SELECT /*TRUNC((elapsed_seconds + TIME_REMAINING) / 60, 0) || ':' || MOD(elapsed_seconds + TIME_REMAINING, 60) AS OP_ELAPSED_TIME,*/
                       elapsed_seconds + TIME_REMAINING                AS OP_ELAPSED_TIME,
                       ROUND((ELAPSED_TIME / EXECUTIONS / 1000000), 2) AS AVG_SQL_ELAPSED_SECONDS,
                       USERNAME,
                       OPNAME,
                       TARGET,
                       UNITS,
                       MESSAGE,
                       A.SQL_ADDRESS,
                       A.SQL_HASH_VALUE,
                       TO_CHAR(SYSDATE - 1/24/6, 'HH24:MI') AS START_TIME,
                       TO_CHAR(SYSDATE, 'HH24:MI') AS END_TIME,
                       TO_CHAR(SYSDATE, 'YYYYMMDD') AS CHECK_YMD,
                       NVL(
                       (SELECT MAX(CHECK_SEQ)
                          FROM TCKLOQ
                         WHERE CHECK_YMD = TO_CHAR(SYSDATE, 'YYYYMMDD')), 0) AS CHECK_SEQ,
                       ROWNUM                       AS ROWNO
                  FROM v$session_longops A,
                       V$SQL B
                 WHERE A.sql_address = B.ADDRESS
                   AND A.SQL_HASH_VALUE = B.HASH_VALUE
                   AND B.EXECUTIONS <> 0
                   AND B.CHILD_NUMBER = 0
                   --AND to_date(LAST_LOAD_TIME, 'yyyy-mm-dd/hh24:mi:ss') > (sysdate - 1/24/6)
                   AND LAST_UPDATE_TIME > (sysdate - 1/24)
                   AND USERNAME IN ('SOSS_USR', 'SPS_USR', 'EDI_USR')
                   --AND (SOFAR/TOTALWORK) * 100 < 100
                ORDER BY A.elapsed_seconds DESC, A.START_TIME DESC
           )
    ]]>
    </select>

    <select id="selectSqlTextList" resultType="hashmap" parameterType="hashmap">
    <![CDATA[
     SELECT SQL_TEXT
       FROM V$SQLTEXT
      WHERE ADDRESS = #{SQL_ADDRESS}
        AND HASH_VALUE = #{SQL_HASH_VALUE}
    ORDER BY PIECE
    ]]>
    </select>

    <insert id="insertLongOpQueryHistoryTable"  parameterType="hashmap">
        INSERT INTO TCKLOQ (
               CHECK_YMD,
               CHECK_SEQ,
               CHECK_START_TIME,
               CHECK_END_TIME,
               OP_ELAPSED_TIME,
               AVG_SQL_ELAPSED_SECONDS,
               USERNAME,
               TARGET,
               UNITS,
               MESSAGE,
               SQL
        ) VALUES (
               #{CHECK_YMD},
               #{CHECK_SEQ},
               #{START_TIME},
               #{END_TIME},
               #{OP_ELAPSED_TIME},
               #{AVG_SQL_ELAPSED_SECONDS},
               #{USERNAME, jdbcType=VARCHAR},
               #{TARGET, jdbcType=VARCHAR},
               #{UNITS},
               #{MESSAGE},
               #{SQL}
        )
    </insert>

    <select id="selectLongOpQueryListTckTotal" resultType="int">
    <![CDATA[
    SELECT COUNT(*) AS TOTAL_CNT
      FROM TCKLOQ
     WHERE CHECK_YMD = TO_CHAR(SYSDATE, 'YYYYMMDD')
    ]]>
    </select>

    <resultMap id="longTckMap" type="java.util.LinkedHashMap">
        <result column="CHECK_YMD"                 property="CHECK_YMD"                   javaType="string"  jdbcType="VARCHAR" />
        <result column="CHECK_SEQ"                 property="CHECK_SEQ"                   javaType="string"  jdbcType="VARCHAR" />
        <result column="CHECK_START_TIME"          property="START_TIME"                  javaType="string"  jdbcType="VARCHAR" />
        <result column="CHECK_END_TIME"            property="END_TIME"                    javaType="string"  jdbcType="VARCHAR" />
        <result column="OP_ELAPSED_TIME"           property="OP_ELAPSED_TIME"             javaType="string"  jdbcType="VARCHAR" />
        <result column="AVG_SQL_ELAPSED_SECONDS"   property="AVG_SQL_ELAPSED_SECONDS"     javaType="string"  jdbcType="VARCHAR" />
        <result column="USERNAME"                  property="USERNAME"                    javaType="string"  jdbcType="VARCHAR" />
        <result column="TARGET"                    property="TARGET"                      javaType="string"  jdbcType="VARCHAR" />
        <result column="UNITS"                     property="UNITS"                       javaType="string"  jdbcType="VARCHAR" />
        <result column="MESSAGE"                   property="MESSAGE"                     javaType="string"  jdbcType="VARCHAR" />
        <result column="SQL"                       property="SQL"                         javaType="string"  jdbcType="VARCHAR" />
    </resultMap>


    <select id="selectLongOpQueryListTck" resultMap="longTckMap" parameterType="String">
    SELECT CHECK_YMD,
           CHECK_SEQ,
           CHECK_START_TIME,
           CHECK_END_TIME,
           OP_ELAPSED_TIME,
           AVG_SQL_ELAPSED_SECONDS,
           USERNAME,
           TARGET,
           UNITS,
           MESSAGE,
           SQL
      FROM (SELECT CHECK_YMD,
                   CHECK_SEQ,
                   CHECK_START_TIME,
                   CHECK_END_TIME,
                   OP_ELAPSED_TIME,
                   AVG_SQL_ELAPSED_SECONDS,
                   USERNAME,
                   TARGET,
                   UNITS,
                   MESSAGE,
                   SQL,
                   ROWNUM    AS ROW_NO
              FROM TCKLOQ
             WHERE CHECK_YMD = TO_CHAR(SYSDATE, 'YYYYMMDD'))
    <if test="page != null">
     WHERE ROW_NO BETWEEN ((#{page}-1) * #{rows}) + 1 AND (#{page} * #{rows})
    </if>
    </select>

    <resultMap id="longQueryMap" type="java.util.LinkedHashMap">
        <result column="ELAPSED_TIME"      property="ELAPSED_TIME"     javaType="string"  jdbcType="VARCHAR" />
        <result column="SQL_ID"            property="SQL_ID"           javaType="string"  jdbcType="VARCHAR" />
        <result column="LAST_LOAD_YMD"     property="LAST_LOAD_YMD"    javaType="string"  jdbcType="VARCHAR" />
        <result column="LAST_LOAD_TIME"    property="LAST_LOAD_TIME"   javaType="string"  jdbcType="VARCHAR" />
        <result column="DB_NAME"           property="DB_NAME"          javaType="string"  jdbcType="VARCHAR" />
        <result column="SQL_FULLTEXT"      property="SQL_FULLTEXT"     javaType="string"  jdbcType="CLOB" />
    </resultMap>

    <select id="selectLongQuery" resultMap="longQueryMap" parameterType="hashmap">
    <![CDATA[
	SELECT IFNULL(NULLIF(ELAPSED_TIME, ''), 0) AS ELAPSED_TIME,
	       SQL_ID,
	       LAST_LOAD_YMD,
	       LAST_LOAD_TIME,
	       DB_NAME,
	       SQL_FULLTEXT
	  FROM (SELECT ELAPSED_TIME,
	               SQL_ID,
	               LAST_LOAD_YMD,
	               LAST_LOAD_TIME,
	               DB_NAME,
	               SQL_FULLTEXT
	          FROM TCKLOQ
	         WHERE DB_NAME = #{system}
	           AND LAST_LOAD_YMD = date_format(sysdate(), '%Y%m%d')) TCKLOQ
	ORDER BY LAST_LOAD_TIME
    ]]>
    </select>

	<!-- Long Query Detail List Day -->
    <select id="selectLongQueryDetailList" resultType="hashmap" parameterType="hashmap">
		SELECT *
 		 FROM (SELECT  <choose>
 		 						<when test="!sql_id.equalsIgnoreCase('all')">
 		 					 /*+ INDEX_DESC(A PK_TCKLOQ) */
 		 					  	</when>
 		 					  	<otherwise>
 		 					 /*+ INDEX_DESC(A TCKLOQ_IX01) */
 		 					  	</otherwise>
 		 					 </choose>
 	  			     	      ROWNUM AS RNUM
					        , LAST_LOAD_YMD
					        , DB_NAME
							, SQL_ID
							, LAST_LOAD_TIME
							, ELAPSED_TIME
					        , LAST_LOAD_YMD || LAST_LOAD_TIME AS EXEC_DT
					        , EXECUTIONS
					        , ROWS_PROCESSED
					  FROM TCKLOQ A
					 WHERE 1 = 1
					 <if test="!sql_id.equalsIgnoreCase('all')">
					 <![CDATA[
					    AND DBMS_LOB.COMPARE(A.SQL_FULLTEXT, (SELECT SQL_FULLTEXT FROM TCKLOQ
					                                                           WHERE DB_NAME = #{db_name} AND SQL_ID = #{sql_id} AND ROWNUM <2)
			                                             ) = 0
					 ]]>
					 </if>
	<![CDATA[
			            AND DB_NAME = #{db_name}
			            AND LAST_LOAD_YMD LIKE TO_CHAR(SYSDATE, 'YYYYMM') || '%'
			            AND ROWNUM <= #{start} + #{length}
			   )
 	    WHERE RNUM BETWEEN (#{start} + 1)  AND #{start} + #{length}
    ]]>
    </select>

    <!-- Long Query Detail List Month -->
    <select id="selectLongQueryDetailMonList" resultType="hashmap" parameterType="hashmap">
		SELECT *
 		 FROM (SELECT ROWNUM AS RNUM
 		                  , A.*
		 		   FROM (SELECT  /*+ INDEX_DESC(A TCKLOQ_IX01) */
							         SUBSTR(LAST_LOAD_YMD, 1, 6) AS LAST_LOAD_YMD
							        , DB_NAME
									, SQL_ID
									, ROUND(AVG(ELAPSED_TIME), 2) AS ELAPSED_TIME
							        , SUM(EXECUTIONS) AS EXECUTIONS
							        , ROUND(AVG(ROWS_PROCESSED), 2) AS ROWS_PROCESSED
							  FROM TCKLOQ A
							 WHERE 1 = 1
							 <if test="!sql_id.equalsIgnoreCase('all')">
							 <![CDATA[
							    AND DBMS_LOB.COMPARE(A.SQL_FULLTEXT, (SELECT SQL_FULLTEXT FROM TCKLOQ
							                                                           WHERE DB_NAME = #{db_name} AND SQL_ID = #{sql_id} AND ROWNUM <2)
					                                             ) = 0
							 ]]>
							 </if>
	<![CDATA[
					            AND DB_NAME = #{db_name}
						     GROUP BY SUBSTR(LAST_LOAD_YMD, 1, 6), DB_NAME, SQL_ID
						     ORDER BY 4 DESC
					     ) A
			    WHERE ROWNUM <= #{start} + #{length}
			 )
 	    WHERE RNUM BETWEEN #{start} + 1  AND #{start} + #{length}
    ]]>
    </select>

	 <!-- Long Query Detail List2 -->
     <resultMap id="longQueryMapDetail" type="java.util.LinkedHashMap">
     	<result column="LAST_LOAD_YMD"     property="LAST_LOAD_YMD"    javaType="string"  jdbcType="VARCHAR" />
     	<result column="DB_NAME"           property="DB_NAME"          javaType="string"  jdbcType="VARCHAR" />
     	<result column="SQL_ID"            property="SQL_ID"           javaType="string"  jdbcType="VARCHAR" />
     	<result column="LAST_LOAD_TIME"    property="LAST_LOAD_TIME"   javaType="string"  jdbcType="VARCHAR" />
     	<result column="FIRST_LOAD_TIME"    property="FIRST_LOAD_TIME"   javaType="string"  jdbcType="VARCHAR" />
        <result column="BUFFER_GETS"      property="BUFFER_GETS"     javaType="string"  jdbcType="VARCHAR" />
        <result column="DISK_READS"      property="DISK_READS"     javaType="string"  jdbcType="VARCHAR" />
        <result column="ROWS_PROCESSED"      property="ROWS_PROCESSED"     javaType="string"  jdbcType="VARCHAR" />
        <result column="ELAPSED_TIME"      property="ELAPSED_TIME"     javaType="string"  jdbcType="VARCHAR" />
        <result column="EXECUTIONS"      property="EXECUTIONS"     javaType="string"  jdbcType="VARCHAR" />
        <result column="SQL_FULLTEXT"      property="SQL_FULLTEXT"     javaType="string"  jdbcType="CLOB" />
    </resultMap>
    <select id="selectLongQueryDetailListScnd" resultMap="longQueryMapDetail" parameterType="hashmap">
    <![CDATA[
		SELECT A.LAST_LOAD_YMD
				, A.DB_NAME
				, A.SQL_ID
				, A.LAST_LOAD_TIME
		        , REGEXP_REPLACE(A.FIRST_LOAD_TIME, '[-/:]', '') AS FIRST_LOAD_TIME
				, A.BUFFER_GETS
		        , A.DISK_READS
		        , A.ROWS_PROCESSED
		        , A.ELAPSED_TIME
		        , A.EXECUTIONS
		        , A.SQL_FULLTEXT
		  FROM TCKLOQ A
		 WHERE A.LAST_LOAD_YMD LIKE #{LAST_LOAD_YMD} || '%'
		    AND A.DB_NAME = #{DB_NAME}
		    AND A.SQL_ID = #{SQL_ID}
	]]>
		    <if test="LAST_LOAD_TIME != null and LAST_LOAD_TIME != ''">
		    AND A.LAST_LOAD_TIME = #{LAST_LOAD_TIME}
		    </if>
	<![CDATA[
		    AND ROWNUM < 2
    ]]>
    </select>

	 <!-- Long Query Detail Param List -->
     <resultMap id="longQueryMapDetailParam" type="java.util.LinkedHashMap">
        <result column="BIND_ID"      property="BIND_ID"     javaType="string"  jdbcType="VARCHAR" />
        <result column="POSITION"      property="POSITION"     javaType="string"  jdbcType="CLOB" />
        <result column="DATATYPE"      property="DATATYPE"     javaType="string"  jdbcType="CLOB" />
        <result column="VALUE_STRING"      property="VALUE_STRING"     javaType="string"  jdbcType="VARCHAR" />
    </resultMap>
    <select id="selectLongQueryDetailListScndParam" resultMap="longQueryMapDetailParam" parameterType="hashmap">
    <![CDATA[
		SELECT A.BIND_ID
		        , A.POSITION
		        , A.DATATYPE
		        , XX1.DEC_VARCHAR2_SEL(A.VALUE_STRING, 10, 'PHONE') AS VALUE_STRING
		  FROM TCKLOQ_PARAM A
		 WHERE A.LAST_LOAD_YMD = #{LAST_LOAD_YMD}
		    AND A.DB_NAME = #{DB_NAME}
		    AND A.SQL_ID = #{SQL_ID}
		    AND A.LAST_LOAD_TIME = #{LAST_LOAD_TIME}
    ]]>
    </select>
</mapper>