
.row {
    margin-bottom: 30px;
}

.form-group > div.title-bar {
	padding: 20px;
}
.form-group > div#contents {
	padding: 20px 40px;
}

#share {
	padding: 3px 12px;
}

.modal-body {
	padding: 40px;
}