<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="com.shinsegae.smon.common.user.UserMapper">

	<resultMap id="userMap" type="java.util.LinkedHashMap">
        <result column="MGR_ID"        property="MGR_ID"        javaType="string"  jdbcType="VARCHAR" /> 
        <result column="MGR_NAME"      property="MGR_NAME"      javaType="string"  jdbcType="VARCHAR" /> 
        <result column="MGR_SYS"       property="MGR_SYS"     	javaType="string"  jdbcType="VARCHAR" /> 
        <result column="MGR_GRADE"     property="MGR_GRADE"     javaType="string"  jdbcType="VARCHAR" /> 
    </resultMap>
 
	
	<!-- 사용자 사번으로 조회 -->
	<select id="searchUser" resultMap="userMap" parameterType="hashmap">
		SELECT * FROM MGR
		WHERE MGR_ID = #{mgr_id}
		  AND MGR_NAME = #{mgr_name}
	</select>
	
	<!-- 인증번호 업데이트 -->
	<update id="updateCertNum" parameterType="hashmap">
		UPDATE MGR
		   SET CERT_NUM = #{certNum}
		 WHERE MGR_ID = #{mgrId}
	</update>
	
	<!-- 비밀번호 인증번호 업데이트 -->
	<update id="updatePwdCertNum" parameterType="hashmap">
		UPDATE MGR
		   SET PWD_CERT_NUM = #{certNum}
		      ,PWD_CERT_SEND_DATE = SYSDATE
		 WHERE MGR_ID = #{mgrId}
	</update>
	
	<!-- 시큐리티 사용자 정보 맵 -->
	<resultMap id="rm_userVO" type="com.shinsegae.smon.model.UserVO">
		<result column="MGR_ID" property="mgrId" javaType="string" jdbcType="VARCHAR" />
		<result column="MGR_NAME" property="mgrName" javaType="string" jdbcType="VARCHAR" />
		<result column="MGR_SYS" property="mgrSys" javaType="string" jdbcType="VARCHAR" />
		<result column="MGR_GRADE" property="mgrGrade" javaType="string" jdbcType="VARCHAR" />
		<result column="CERT_NUM" property="certNum" javaType="string" jdbcType="VARCHAR" /> 
		<result column="MGR_PWD" property="mgrPwd" javaType="string" jdbcType="VARCHAR" />
		<result column="MGR_PWD_CHG_DATE" property="mgrPwdChgDate" javaType="string" jdbcType="VARCHAR" />
		<result column="MGR_STATE_CD" property="mgrStateCd" javaType="string" jdbcType="VARCHAR" />
		<result column="MGR_TASK" property="mgrTask" javaType="string" jdbcType="VARCHAR" />
		<result column="LOGIN_FAIL_CNT" property="loginFailCnt" javaType="Integer" jdbcType="NUMERIC" />
		<result column="ROLE_GROUP" property="roleGroup" javaType="string" jdbcType="VARCHAR" />
    </resultMap>
    
    <!-- 시큐리티 사용자 조회 -->
	<select id="getUser" resultMap="rm_userVO" parameterType="hashmap">
        SELECT A.MGR_ID
		     , A.MGR_NAME
		     , A.MGR_SYS
		     , A.MGR_GRADE
		     , A.CERT_NUM 
		     , A.MGR_PWD
		     , DATE_FORMAT(MGR_PWD_CHG_DATE, '%Y/%m/%d %H:%i:%s') AS MGR_PWD_CHG_DATE
		     , A.MGR_STATE_CD
		     , A.MGR_TASK
		     , A.LOGIN_FAIL_CNT
		     , B.ROLE_GROUP
		  FROM MGR A 
		  LEFT OUTER JOIN CM_ROLE_GROUP B
		    ON A.MGR_GRADE = B.AUTH_GROUP_ID
         WHERE A.MGR_ID = #{mgrId}		 
		<if test="certNum != '' and certNum != null">
		<![CDATA[
		   AND A.CERT_NUM = #{certNum}
		]]>
		</if>
		<if test="userPwd != '' and userPwd != null">
		<![CDATA[
		   AND A.MGR_PWD = XX1.ENC_VARCHAR2_INS(#{userPwd}, 10, 'PWD')
		]]>
		</if>
		<if test="mgrStateCd != '' and mgrStateCd != null">
		<![CDATA[
		   AND A.MGR_STATE_CD = #{mgrStateCd, jdbcType=VARCHAR}
		]]>
		</if>
	</select>
	
	<!-- 회원가입 -->
	<insert id="saveMember" parameterType = "com.shinsegae.smon.model.UserVO">
		INSERT INTO MGR (
			  MGR_ID
			, MGR_NAME
			, MGR_SYS
			, MGR_GRADE
			, CERT_NUM
			, MGR_PWD
			, MGR_PWD_CHG_DATE
			, MGR_STATE_CD
			, MGR_TASK
		) VALUES (
			  #{mgrId, jdbcType=VARCHAR}
			, #{mgrName, jdbcType=VARCHAR}
			, #{mgrSys, jdbcType=VARCHAR}
			, #{mgrGrade, jdbcType=VARCHAR}
			, null
			, XX1.ENC_VARCHAR2_INS(#{mgrPwd, jdbcType=VARCHAR}, 10, 'PWD')
			, SYSDATE
			, #{mgrStateCd}
			, #{mgrTask}
		)
	</insert>
	
	<!-- 운영정보 사용자 정보 맵 -->
	<resultMap id="rm_getSossUser" type="com.shinsegae.smon.model.UserVO">
		<result column="EMPNO" property="mgrId" javaType="string" jdbcType="VARCHAR" />
		<result column="NAME" property="mgrName" javaType="string" jdbcType="VARCHAR" /> 
    </resultMap>
    
    <!-- 운영정보 사용자 조회 -->
	<select id="getSossUser" resultMap="rm_getSossUser" parameterType="hashmap">
		<![CDATA[
		SELECT EMPNO
		     , NAME 
		  FROM SSO_DEPT.TSSUSR#
		 WHERE 1 = 1
		]]>
		<if test="mgrId != '' and mgrId != null">
		<![CDATA[
		   AND EMPNO = #{mgrId}
		]]>
		</if>
		<if test="retireGubun != '' and retireGubun != null">
		<![CDATA[
		   AND RETGBN = #{retireGubun}
		   AND CHG_DATE >= TO_CHAR(SYSDATE - 1, 'YYYYMMDD')
		]]>
		</if>		 
	</select>
	
    <!-- 운영정보 사용자 조회 -->
	<select id="getSossUsers" resultMap="rm_getSossUser" parameterType="hashmap">
		<![CDATA[
		SELECT EMPNO
		     , NAME 
		  FROM SSO_DEPT.TSSUSR#
		 WHERE 1 = 1
		]]>
		<if test="mgrId != '' and mgrId != null">
		<![CDATA[
		   AND EMPNO = #{mgrId}
		]]>
		</if>
		<if test="retireGubun != '' and retireGubun != null">
		<![CDATA[
		   AND RETGBN = #{retireGubun}
		   AND CHG_DATE >= TO_CHAR(SYSDATE - 1, 'YYYYMMDD')
		]]>
		</if>		 
	</select>
	
	<!-- 사용자 연관된 정보 맵 -->
	<resultMap id="rm_getAssociatedWordMap" type="hashmap">
		<result column="SEQNO" property="seqno" javaType="Integer" jdbcType="NUMERIC" />
		<result column="CHK_CLAUSE" property="chkClause" javaType="string" jdbcType="VARCHAR" />
		<result column="CHK_VALUE" property="chkValue" javaType="string" jdbcType="VARCHAR" />  
    </resultMap>
    
    <!-- 사용자 연관된 정보 맵 조회 -->
	<select id="getAssociatedWordMap" resultMap="rm_getAssociatedWordMap" parameterType="hashmap">
		<![CDATA[
		SELECT 1 AS SEQNO
		     , '사번' AS CHK_CLAUSE
		     , MGR_ID AS CHK_VALUE
		  FROM MGR
		 WHERE MGR_ID = ${mgrId}
		]]>
	</select>
	
 
    <!-- 사용자 업데이트 -->
	<update id="updateUser" parameterType="hashmap">
		UPDATE MGR
		    SET LOGIN_FAIL_CNT = CASE WHEN #{successYn} = 'Y' THEN 0
		    						  ELSE LOGIN_FAIL_CNT + 1
		    				     END
			<if test="mgrStateCd != '' and mgrStateCd != null">
				, MGR_STATE_CD = #{mgrStateCd}		   
			</if>
			<if test="sessionCreDtm != '' and sessionCreDtm != null">
				, SESSION_CRE_DTM = #{sessionCreDtm}		   
			</if>
			<if test="loginSsid != '' and loginSsid != null">
				, SESSION_ID = #{loginSsid}		   
			</if>
		 WHERE MGR_ID = #{mgrId, jdbcType=VARCHAR}
	</update>
	
    <!-- 사용자 로그인/아웃 이력 저장 -->
	<insert id="insertMgrLoginHis" parameterType = "com.shinsegae.smon.model.UserVO">
		INSERT INTO MGR_LOGIN_HIS (
        	  MGR_ID
        	, LOG_TYPE
        	, LOGIN_IP
        	, LOGIN_SSID
        	, LOG_DATE
		) VALUES (
			  #{mgrId, jdbcType=VARCHAR}
			, #{logType, jdbcType=VARCHAR}
			, #{loginIp, jdbcType=VARCHAR}
			, #{loginSsid, jdbcType=VARCHAR}
			, SYSDATE
		) 
	</insert>	
    
    <!-- 사용자 삭제 -->
    <delete id="deleteUser" parameterType="com.shinsegae.smon.model.UserVO">
    	DELETE FROM MGR
    	 WHERE MGR_ID = #{mgrId}
    </delete>
    
    <!-- 로기인 이력 조회-->
	<resultMap id="rm_getMgrLoginHis" type="com.shinsegae.smon.model.UserVO">
		<result column="MGR_ID" property="mgrId" javaType="string" jdbcType="VARCHAR" /> 
    </resultMap>
    
    <!-- 운영정보 사용자 조회 -->
	<select id="getMgrLoginHis" resultMap="rm_getMgrLoginHis" parameterType="hashmap">
		SELECT MGR_ID 
		  FROM MGR_LOGIN_HIS
		 WHERE 1 = 1
		<if test="unusedGubun != '' and unusedGubun != null and unusedGubun == 'Y'">
		<![CDATA[
		   AND LOG_DATE < TO_DATE(TO_CHAR(SYSDATE, 'YYYYMMDD'), 'YYYYMMDD') - 90
		   AND LOG_TYPE = '1'
		]]>
		</if>		 
	</select>
	
	<resultMap id="initUserMap" type="java.util.LinkedHashMap">
        <result column="MGR_ID"        property="mgrId"        javaType="string"  jdbcType="VARCHAR" /> 
        <result column="MGR_NAME"      property="mgrName"      javaType="string"  jdbcType="VARCHAR" /> 
        <result column="INIT_PASSWD"   property="initPasswd"   javaType="string"  jdbcType="VARCHAR" /> 
    </resultMap>
    
    <!-- 사용자 비밀번호 수정 -->
    <update id="updateUserPassword">
        UPDATE MGR
           SET MGR_PWD          = XX1.ENC_VARCHAR2_INS(#{mgrPwd, jdbcType=VARCHAR}, 10, 'PWD', 'MGR_PWD_HIST', 'PWD_NO')
              ,MGR_PWD_CHG_DATE = SYSDATE
              ,MGR_STATE_CD     = 'Y'
              ,LOGIN_FAIL_CNT   = 0
         WHERE MGR_ID = #{mgrId}
    </update>
	
	<!-- 사용자 비밀번호 변경이력 조회(5회)-->
	<select id="checkUserPasswordHist" parameterType="com.shinsegae.smon.model.UserVO" resultType="int">
		SELECT
			COUNT(1) AS PASSWORD_HIST_CNT
		FROM MGR_PWD_HIST
	    WHERE MGR_ID = #{mgrId}
	      <if test="mgrPwd != null and mgrPwd != ''">
	      AND MGR_PWD = XX1.ENC_VARCHAR2_INS(#{mgrPwd, jdbcType=VARCHAR}, 10, 'PWD', 'MGR_PWD_HIST', 'PWD_NO')
	      </if>
	</select>
	
	<!-- 사용자 비밀번호 변경이력 저장 -->
    <insert id="insertUserPasswordHist" parameterType="map">
        INSERT INTO MGR_PWD_HIST
               ( MGR_ID
                ,MGR_PWD
                ,CHANGE_DT
               ) 
         VALUES
               ( #{mgrId}
                ,XX1.ENC_VARCHAR2_INS(#{mgrPwd, jdbcType=VARCHAR}, 10, 'PWD', 'MGR_PWD_HIST', 'PWD_NO')
                ,SYSDATE
               )
    </insert>
    
    <!-- 사용자 비밀번호 변경이력 삭제 -->
    <delete id="deleteUserPasswordHist" parameterType="map">
       DELETE
       FROM MGR_PWD_HIST
       WHERE MGR_ID = #{mgrId}
         AND CHANGE_DT IN ( SELECT MIN(CHANGE_DT)
           					  FROM MGR_PWD_HIST
           					  WHERE MGR_ID = #{mgrId}
           					)
    </delete>
 
 	<!-- 사용자 사번으로 조회 -->
	<select id="selectUserPasswordInitInfo" resultMap="initUserMap" parameterType="com.shinsegae.smon.model.UserVO">
		SELECT MGR_ID
		     , MGR_NAME
		     , (SELECT DBMS_RANDOM.STRING ('X', 10)
                  FROM DUAL)      AS INIT_PASSWD 
		FROM MGR
		WHERE MGR_ID   = #{mgrId}
		  AND MGR_NAME = #{mgrName}
	</select>
	
	<!-- 임시 비밀번호 변경 -->
    <update id="updateUserPasswordInitInfo">
        UPDATE MGR
           SET MGR_PWD          = XX1.ENC_VARCHAR2_INS(#{initPasswd, jdbcType=VARCHAR}, 10, 'PWD', 'MGR_PWD_HIST', 'PWD_NO')
              ,MGR_PWD_CHG_DATE = SYSDATE-100
              ,MGR_STATE_CD     = 'Y'
              ,LOGIN_FAIL_CNT   = 0
         WHERE MGR_ID = #{mgrId}
    </update>
    
    <!-- 사용자 비밀번호 체크-->
	<select id="checkUserPassword" parameterType="com.shinsegae.smon.model.UserVO" resultType="String">
		SELECT
			CASE WHEN COUNT(1) > 0 THEN 'Y'
			     ELSE 'N'
			END AS CHECK_PASSWORD
		FROM MGR
	    WHERE MGR_ID = #{mgrId}
	      AND MGR_PWD = XX1.ENC_VARCHAR2_INS(#{mgrOldPwd, jdbcType=VARCHAR}, 10, 'PWD', 'MGR_PWD_HIST', 'PWD_NO')
	</select>
	
    <!-- 사용자 세션상태값 저장 -->  
    <update id="updateUserStatInfo" parameterType="com.shinsegae.smon.model.UserVO">
      /*+ updateUserStatInfo */
      MERGE INTO MGR USING DUAL
	       ON (
		           MGR_ID = #{mgrId}
		       )
		WHEN MATCHED THEN
			UPDATE
	       	   SET SESSION_CRE_DTM = #{sessionCreDtm}
		         , SESSION_ID = #{ssId}
		WHEN NOT MATCHED THEN
			NULL
    </update>
    
    <!-- 중복로그인 체크 -->
	<select id="selectCurrentUserStat" parameterType="hashmap" resultType="hashmap">
	    /*+ selectCurrentUserStat */
		SELECT CASE WHEN COUNT(1) > 0 THEN 'N' ELSE 'Y' END AS DUP_LOGINYN
		 FROM  MGR
		 WHERE MGR_ID = #{mgrId}
		       AND SESSION_CRE_DTM = #{sessionCreDtm}
		       AND SESSION_ID = #{ssId}	     
	</select>
	
	<!-- OTP 번호 체크 -->
	<select id="checkPwdOtpInfo" parameterType="hashmap" resultType="hashmap">
	    /*+ checkPwdOtpInfo */
		SELECT CASE WHEN COUNT(1) > 0 THEN 'Y' ELSE 'N' END AS OTP_YN
		 FROM  MGR
		 WHERE MGR_ID = #{mgrId}
		   AND PWD_CERT_NUM = #{certNum}
		   AND (TO_DATE(TO_CHAR(SYSDATE,'YYYYMMDDHH24MISS'), 'YYYYMMDDHH24MISS') - PWD_CERT_SEND_DATE) * 24 * 60 * 60 <![CDATA[ <= ]]> 190
	</select>	
 </mapper>

    