<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.shinsegae.smon.database.objects.InvalidObjectsDbMonitoringMapper">
	<resultMap id="invalidObj" type="java.util.LinkedHashMap">
        <result column="OWNER"          property="OWNER"           javaType="string"  jdbcType="VARCHAR" /> 
        <result column="OBJECT_NAME"    property="OBJECT_NAME"     javaType="string"  jdbcType="VARCHAR" /> 
        <result column="OBJECT_TYPE"    property="OBJECT_TYPE"     javaType="string"  jdbcType="VARCHAR" /> 
        <result column="STATUS"         property="STATUS"          javaType="string"  jdbcType="VARCHAR" /> 
        <result column="CREATED"        property="CREATED"         javaType="string"  jdbcType="VARCHAR" /> 
        <result column="LAST_DDL_TIME"  property="LAST_DDL_TIME"   javaType="string"  jdbcType="VARCHAR" /> 
    </resultMap>
    
    
    <select id="selectInvalidObjectsList" resultMap="invalidObj" parameterType="HashMap">
    <![CDATA[
		SELECT * FROM (
		    SELECT AA.*, 
		        ROWNUM AS RNUM,
		        COUNT(*) OVER() AS TOTCNT
		    FROM (
		        SELECT A.DB_NAME
		            , A.OWNER
		            , A.OBJECT_TYPE
		            , A.OBJECT_NAME
		            , A.CREATE_DT
		        FROM TCKOBJ A
		        WHERE A.DB_NAME = #{system} 
		        ORDER BY A.OWNER,  A.OBJECT_TYPE, A.OBJECT_NAME
		    ) AA
		)
		WHERE RNUM >= #{start} AND RNUM <= #{end}
    ]]> 
    </select>
    
    <select id="selectInvalidObjectsState" resultType="HashMap" parameterType="HashMap">
    <![CDATA[
        SELECT OBJECT_TYPE
		    , COUNT(CREATE_DT) AS CNT
		FROM TCKOBJ
		WHERE DB_NAME = #{system}
		GROUP BY OBJECT_TYPE
    ]]> 
    </select>

</mapper>