.ui-jqgrid .ui-jqgrid-htable th {
	height: 2.5em;
	vertical-align: middle;
	font-size:12px;
}
.ui-jqgrid tr.jqgrow td {
	height: 2.5em;
	vertical-align: middle;
	font-size:12px;
}
.confirm_gubn {
	font-size: inherit;
	height: 100%;
}
.search-wrapper {
	border-bottom: 1px solid #ddd;
}

.ui-jqgrid .ui-pg-input {
	height: 15px;
}

.btn-custom-save {
	color: #fff;
	background-color: #3e3f3a;
	border-color: #3e3f3a;
}

.btn-custom-save:hover {
	color: #fff;
	background-color: #82827f;
	border-color: #82827f;
}

.search-condition-table {
	padding: 0 0 10px 0;
}

.search-condition-column {
	padding: 0 0 24px 0;
}



.inline_input_checkbox {
}

.inline_input_text {
	margin: -4px 0 0 0 !important;
	width: 100%;
}

.search-condition-box {
	border-top: 1px solid #ddd;
	padding-top: 25px;
}

.btn-box {
	padding: 0px 30px 10px 30px;
}
.btn-box > a {
	margin-left: 10px;
}

.search-condition-line {
	padding-bottom: 5px;
}

.search-condition-item {
	border-right: 1px solid #BAA5A5;
}

.two-line-label {
	padding-top: 0px !important;
}