i.fa-picture-o {
    line-height: 1;
    font-weight: normal;
    font-variant: normal;
    font-style: normal;
    font-family: FontAwesome;
    font-size: 1.5em;
    color: #616161;
    border: solid #e6e6e6 1px;
    padding : 4px 6px;
    border-radius: 3px;
    margin-right: 6px;
}


.container {
    display: none;
}

.row {
    margin-bottom: 30px;
}

.form-group > .input-text-label {
    padding: 15px 5px;
}
.form-group > .input-radio-label {
    padding: 5px 5px 0 5px;
}
.form-group > .input-editor-label {
    padding: 1px 5px;
}
.radio-box {
    /*padding-top: 7px;*/
}
.radio-box > input[type="radio"] {
    margin-right: 5px;
}

.modal-body {
	padding: 40px;
}